{% extends "_layout" %}
{% set title = "Community Notice Board" %}

{% block content %}
<div class="row">
	<div class="one columns">&nbsp;</div>
	<div class="five intro columns">
		<h2>{{ entry.body }}</h2>
	</div>
	<div class="six columns">&nbsp;</div>
</div>
<div class="row">
	<div class="one columns">&nbsp;</div>
	<div class="five info columns">
		{{ entry.pageIntroduction }}
	</div>
	<div class="six columns">&nbsp;</div>
</div>
{% for block in entry.notices.all() %}
<div class="row notices">
	<div class="one columns">&nbsp;</div>
	<div class="ten line columns">
		<h4>{{ block.noticeTitle }}</h4>
		{{ block.noticeInformation }}
	</div>
	<div class="one columns">&nbsp;</div>
</div>
{% endfor %}
{% endblock %}
