{% extends "_layout" %}

{# Set the pagination variables #}
{% paginate craft.entries.section('news').limit(12) as pageInfo, pageEntries %}

{% block content %}
<div class="row">
	<div class="one columns">&nbsp;</div>
	<div class="five intro columns">
		<h2>{{ entry.body }}</h2>
	</div>
	<div class="six columns">&nbsp;</div>
</div>
<div class="row">
	<div class="one columns">&nbsp;</div>
	<div class="ten columns">
		{% for entry in pageEntries %}
		<article class="story aos-item" data-aos="fade-up" itemscope itemtype="https://schema.org/Article">
			{% if entry.mainNewsImage | length %}
			    {% for asset in entry.mainNewsImage.all() %}
			    	<span itemprop="image" itemscope itemtype="http://schema.org/ImageObject">
			        	<a href="{{ entry.url }}"><img src="{{ asset.url('newsImage') }}" itemprop="url" width="100%" title="{{ entry.mainNewsImageTitle }}" alt="{{ entry.mainNewsImageTitle }}"></a>
			        	<meta itemprop="width" content="1100">
				        <meta itemprop="height" content="590">
			        </span>
			    {% endfor %}
			{% endif %}
			<div class="newsSnip">
				<h3 itemprop="headline"><a href="{{ entry.getUrl }}">{{ entry.title }}</a></h3>
				<p class="meta">Published <span itemprop="datePublished dateModified"><b>{{ entry.postDate.format('F d, Y') }}</b></span><span class="item" itemprop="author">{{ siteName }}</span></p>
				{% set paragraphs = entry.newsParagraph|split('</p>') %}
				{% set firstParagraph = paragraphs|first ~ '</p>' %}
				{{ firstParagraph|raw }}
				<a itemprop="mainEntityOfPage" href="{{ entry.url }}" class="more">Continue reading</a>
				<div itemprop="publisher" class="item" itemscope itemtype="https://schema.org/Organization">
				    <div itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
						<meta itemprop="url" content="{{ siteUrl }}uploads/tom.jpg">
						<meta itemprop="width" content="300">
						<meta itemprop="height" content="300">
				    </div>
				    <meta itemprop="name" content="TOM">
				</div>
			</div>
		</article>
		{% endfor %}
	</div>
	<div class="one columns">&nbsp;</div>
</div>

<div class="row newsPaginate">
	<div class="one columns">&nbsp;</div>
	<div class="three columns prev">&nbsp;
			{% if pageInfo.prevUrl %}<a href="{{ pageInfo.prevUrl }}">Previous page</a>{% endif %}
	</div>
	<div class="four columns paginate">
		{% for page, url in pageInfo.getPrevUrls(3) %}
    		<a href="{{ url }}">{{ page }}</a>
		{% endfor %}
		<span class="current">{{ pageInfo.currentPage }}</span>
		{% for page, url in pageInfo.getNextUrls(3) %}
		    <a href="{{ url }}">{{ page }}</a>
		{% endfor %}
	</div>
	<div class="three columns next">
		{% if pageInfo.nextUrl %}<a href="{{ pageInfo.nextUrl }}">Next page</a>{% endif %}
		&nbsp;
	</div>
	<div class="one columns">&nbsp;</div>
</div>
{% endblock %}
