{% header "Content-Type: application/rss+xml" %}
<?xml version="1.0" encoding="UTF-8" ?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
    <channel>
        <title>{{ siteName }}</title>
        <link>{{ siteUrl }}</link>
        <atom:link href="{{ craft.app.request.absoluteUrl }}" rel="self" type="application/rss+xml" />
        <description>Oakura news, local information and upcoming events from within and around the local community.</description>
        <language>en-us</language>
        <pubDate>{{ now|rss }}</pubDate>
        <lastBuildDate>{{ now|rss }}</lastBuildDate>

        {% for entry in craft.entries({ section: 'news' }).all() %}
            <item>
                <title>{{ entry.title }}</title>
                <link>{{ entry.url }}</link>
                <pubDate>{{ entry.postDate|rss }}</pubDate>
                <guid>{{ entry.url }}</guid>
                {% set paragraphs = entry.newsParagraph|split('</p>') %}
                {% set firstParagraph = paragraphs|first ~ '</p>' %}
                <description><![CDATA[
                    {{ firstParagraph|raw }}
                ]]></description>
            </item>
        {% endfor %}
    </channel>
</rss>
