{% extends "_layout" %}

{% block content %}
    <div class="row thanksPage">
        <div class="one columns">&nbsp;</div>
    	<div class="five columns">
            <h3>Thanks for the message, we'll be in touch shortly.</h3>
        </div>
        <div class="seven columns">&nbsp;</div>
    </div>
{% endblock %}
